<h2>Update Trip</h2>

<%# <%= render partial: "form", locals: { action_name: "Edit Trip" } %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @trip, class: "trip-form" do |f| %>
  <h3>Please enter information to edit trip: </h3>
  <div class="form">
    <section>
      ID: <%= @trip.id %>
    </section>
    <section>
      <%= f.hidden_field :date %>
      <%= hidden_field_tag 'date', @trip.date  %>
      Date: <%= @trip.date %>
    </section>
    <section>
      <%= f.label :driver_name %><br>
      <%= f.text_field :driver_name, value: @trip.driver.name %>
    </section>
    <section>
      <%= f.label :passenger_name %><br>
      <%= f.text_field :passenger_name, value: @trip.passenger.name %>
    </section>
    <section>
      <%= f.label :cost %><br>
      <%= f.number_field :cost %>
    </section>
    <section>
      <%= f.label :rating %><br>
      <%= f.number_field :rating, in: 1..5 %>
    </section>
    <section>
      <%= f.submit "Update Trip", class: "submit-button" %>
    </section>
  </div>
<% end %>