<section>
  <h2>Trip #<%= @trip.id %></h2>
    <p>
      <strong>Date:</strong> <%= @trip.date %> <br>
      <strong>Driver:</strong> <%= link_to @trip.driver.name, driver_path(@trip.driver.id) %> <br>
      <strong>Passenger:</strong> <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %> <br>
      <strong>Rating:</strong> <%= @trip.rating %> <br>
      <strong>Cost:</strong> <%= number_to_currency(@trip.cost / 100.00) %> <br>
      <Strong>Complete?:</strong> <%= @trip.completion ? "Completed" : "Not Completed" %>
    </p>

  <div class="modify-options">
    <div>
      <% if @trip.completion == false %>
        <%= link_to 'Mark as Complete', toggle_completion_path(@trip), method: :patch %>
      <% else %>
        <%= link_to 'Unmark as Complete', toggle_completion_path(@trip), method: :patch %>
      <% end %>
    </div>
    <div><%= link_to "Rate Trip", edit_trip_path(@trip.id) %></div>
    <div><%= link_to "Delete", trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure?"} %></div>
  </div>
</section> 