<section>
  <h2>Passenger</h2>
    <p>
      Name: <%= @passenger.name %> <br>
      Phone Number: <%= @passenger.phone_num %>
    </p>
  
  <div>Total Charged: <%= number_to_currency(@passenger.total_charged / 100.0) %></div>
  <div><%= link_to "Request a Trip", trips_path, method: :post%></div>
  
  <div class="modify-options">
    <div><%= link_to "Edit", edit_passenger_path(@passenger.id) %></div>
    <div><%= link_to "Delete", passenger_path(@passenger.id), method: :delete %></div>
  </div>

  <section>
    <h3>Trips</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Driver</th>
        <th>Passenger</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
        <% @passenger.trips.each do |trip| %>
          <tr>
            <td>
              <%= link_to trip.id, trip_path(trip.id) %>
            </td>
            <td>
              <%= trip.date %>
            </td>
            <td>
              <%= link_to trip.driver.name, driver_path(trip.driver.id) %>
            </td>
            <td>
              <%= trip.passenger.name %>
            </td>
            <td>
              <%= number_to_currency(trip.cost / 100.0) %>
            </td>
            <td>
              <%= trip.rating %>
            </td>
          </tr>
        <% end %>
    </table>
  </section>
</section>