<section>
  <section>
    <h2><%= @passenger.name %></h2>
    <ul>
      <li>
        <strong>Phone Number:</strong> <%= @passenger.phone_num %>
      </li>
      <li>
        <strong>Total Charged:</strong> <%= number_to_currency(@passenger.total_charged / 100.0) %>
      </li>
    </ul>
  </section>

  <nav class="options">
    <ul>
      <li>
        <%= link_to "Request a Trip", passenger_trips_path(@passenger.id), method: :post %>
      </li>
      <li>
		    <%= link_to "Edit", edit_passenger_path(@passenger.id) %>
      </li>
      <li>
		    <%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
      <li>
        <%= link_to 'Back to all passengers', passengers_path %>
      </li>
    </ul>
	</nav>
  <%# <%= link_to "trips", passenger_trips_path(@passenger.id)%>
  <section>
    <h3>Trips</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Driver</th>
        <th>Passenger</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
        <% @passenger.trips.each do |trip| %>
          <tr>
            <td>
              <%= link_to trip.id, trip_path(trip.id) %>
            </td>
            <td>
              <%= trip.date %>
            </td>
            <td>
              <%= link_to trip.driver.name, driver_path(trip.driver.id) %>
            </td>
            <td>
              <%= trip.passenger.name %>
            </td>
            <td>
              <%= number_to_currency(trip.cost / 100.0) %>
            </td>
            <td>
              <%= trip.rating %>
            </td>
          </tr>
        <% end %>
    </table>
  </section>
</section>