
<%= form_with model: @driver do |f| %>
	<div class="form">
		<% if @driver.errors.any? %>
			<ul>
				<% @driver.errors.each do |column, message| %>
					<li>
						<%= column.capitalize %> <%= message %>.
					</li>
				<% end %>
			</ul>
		<% end %>
		<section>
			<%= f.label :name %><br>
			<%= f.text_field :name %>
		</section>
		<section>
			<%= f.label :vin %><br>
			<%= f.text_field :vin %>
		</section>
		<%= f.hidden_field :available, :value => true %>
		<section>
			<%= f.submit action_name %>
		</section>
	</div>
<% end %>