<section>
	<section>
		<h2><%= @driver.name %></h2>
		<ul>
			<li>
				<strong>VIN:</strong> <%= @driver.vin %>
			</li>
			<li>
				<strong>Availibility:</strong> <%= @driver.available ? 'Available' : 'Not available' %>
			</li>
			<li>
				<strong>Average Rating:</strong> <%= @driver.average_rating %>
			</li>
			<li>
				<strong>Total Earnings:</strong> <%= number_to_currency(@driver.total_earnings / 100.0) %>
			</li>
      <li>
				<strong>Total Rides:</strong> <%= @driver.total_rides %>
			</li>
		</ul>
  </section>

  <nav class="options">
    <ul>
      <li>
	    	<%= link_to 'Toggle Availability', toggle_avail_path(@driver), method: :patch %>
      </li>
      <li>
	    	<%= link_to 'Edit', edit_driver_path(@driver) %>
      </li>
      <li>
		    <%= link_to 'Delete', driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
      <li>
	    	<%= link_to 'Back to all drivers', drivers_path %>
      </li>
    </ul>
	</nav>

  <section>
		<h3>Trips</h3>
		<table>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Driver</th>
        <th>Passenger</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
        <% @driver.trips.each do |trip| %>
          <tr>
            <td>
              <%= link_to trip.id, trip_path(trip.id) %>
            </td>
            <td>
              <%= trip.date %>
            </td>
            <td>
              <%= trip.driver.name %>
            </td>
            <td>
              <%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %>
            </td>
            <td>
              <%= number_to_currency(trip.cost / 100.0) %>
            </td>
            <td>
              <%= trip.rating %>
            </td>
          </tr>
        <% end %>
    </table>
	</section>
</section>