<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
			<%= link_to "Manage Passengers", passengers_path %> | 
			<%= link_to "Manage Drivers", drivers_path %> | 
			<%= link_to "Create New Passenger", new_passenger_path %> | 
			<%= link_to "Create New Driver", new_driver_path %>
	  </nav>
    <%= yield %>
  </body>
</html>
