<!DOCTYPE html>
<html>
  <head>
    <title>Ride Share Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='container'>

      <header>
        <h1>Ride Share Rails</h1>

        <nav>
          <nav class="dropdown">
            <button class="dropbtn"><%= link_to "Home", root_path %></button>
          </nav>

          <nav class="dropdown">
            <button class="dropbtn">Passengers</button>
            <div class="dropdown-content">
              <%= link_to "Manage Passengers", passengers_path %>
              <%= link_to "Create New Passenger", new_passenger_path %>
            </div>
          </nav>

          <nav class="dropdown">
            <button class="dropbtn">Drivers</button>
            <div class="dropdown-content">
              <%= link_to "Manage Drivers", drivers_path %>
              <%= link_to "Create New Driver", new_driver_path %>
            </div>
          </nav>
        </nav>
      </header>

      <main>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>
        <%= yield %>
      </main>

      <footer>
          &copy; 2020 - Denisse Anaya, Jessica Liang // Background from <%= link_to "Image Catalog", 'https://www.flickr.com/photos/image-catalog/' %>
      </footer>

    </div>
  </body>
</html>
